* {
    box-sizing: border-box;
}

/* stle hp */
body {
    background-color: rgb(156, 74, 74);
}



/* style tablet */
@media screen and (min-width : 600px) {
    body {
        background-color: rgb(221, 9, 154);
    }
}

/* style desktop */
@media screen and (min-width : 992px)  {
    body {
        background-color: #eaa8a8;
    }
}